<div class="card p-2 mb-4" style="width: 25rem">
  <img
    src="../../../../assets/image/{{ list.image }}"
    class="card-img-top"
    alt="image"
  />
  <div class="card-body">
    <h5 class="card-title">{{ list.title }}</h5>
    <p class="card-text mb-1">
      {{ list.deskripsi }}
    </p>
    <p class="mb-2">Rp.{{ list.price }}</p>
    <app-star [rate]="list.rate"></app-star>
    <div class="d-flex flex-column gap-2">
      <a class="btn btn-warning fs-5 fw-semibold"
        >Ulas Kamar <fa-icon [icon]="icon.pencil"></fa-icon
      ></a>
      <a class="btn btn-success fs-5 fw-semibold"
        >Pesan Kamar <fa-icon [icon]="icon.money"></fa-icon
      ></a>
    </div>
  </div>
</div>
