<div class="bg-success">
  <div class="container">
    <div
      class="row justify-content-center align-items-center"
      style="height: 100vh"
    >
      <div class="col-md-6 text-white">
        <p class="text-warning fs-5 fw-semibold mb-2">
          --Yang Harus Kamu Tau Dari Kami--
        </p>
        <h1 class="fs-2 fw-bold mb-3 text-capitalize">tentang kami</h1>
        <p class="fs-4 mb-4">
          KeHotel adalah sebuah perusahaan yang menyediakan beberapa hotel
          dengan harga dan fasilitas keamanan, kenyamanan yang tidak diragukan
          lagi
        </p>
        <button class="btn btn-warning px-4 py-2 fs-5 fw-semibold">
          Lihat Hotel Populer <fa-icon [icon]="faArrowDown"></fa-icon>
        </button>
      </div>
      <div class="col-md-6">
        <img
          src="../../../../assets/image/about-image.jpg"
          alt="about-image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
